body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 75px;
    padding-right: 75px;
    background-color: #F8F8FF;
    
}

header {
    background-image: url('satelite.jpg'); 
    padding: 10px 0; 
    padding-left: 30px;
    top: 0; 
    left: 0;
    width: 97.8%; 
}
h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bold;
    unicode-bidi: isolate;
    color: #e0e0e0;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    margin-right: 10px;
}

nav {
    text-align: center; 
}


.menu {
    list-style-type: none; 
    padding: 0; 
}

.menu li {
    display: inline; 
    margin: 0 20px; 
}

.menu a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
}

.menu a:hover {
    text-decoration: underline; 
}

progress {
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    margin-left : 50px;

}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    
}

h3.pais {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}
h3.Estado {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}
h3.Municipio {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}

h2.progress {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-left : 50px;
    
}
p.porcentaje {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-left : 50px;
    
}



main {
    padding: 20px;
    margin-left : 20px; 
    margin-top : 10px;
    
}

section {
    margin-bottom: 20px; 
    margin-top: 50px;
    margin-left: 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: justify;
    font-size: 18px;
    margin-right: 50px;
    font-family: Arial, sans-serif;
}

footer {
    text-align: center; 
    background-color: #333; 
    color: white; 
    padding: 10px 0; 
}
footer a {
    color: white; 
    text-decoration: none; 
}

footer a:visited {
    color: white; 
}
.contenedor {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.imagen {
    width: 5000px;
    height: 500px; 
    margin-left : 50px;
    margin-top: 10px;
    border-radius: 10px;
}
.imagen2 {
    width: 700px; 
    height: 200px; 
    margin-left : 50px;
    margin-top: 50px;
    border-radius: 10px;
}

.texto {
    font-size: 80px; 
    text-align: justify;
}
 
 progress::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 0;
}


progress::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 0;
}


progress::-moz-progress-bar {
    background-color: #4CAF50;
    border-radius: 0;
}

.contenedorpinguino{
    text-align: center;
}
.pinguino {
    width: 1000px;
    height: 700px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
.rojo::-webkit-progress-value {
    background-color: red;
}

.rojo::-moz-progress-bar {
    background-color: red;
}

.imagen-bajo-footer {
    width: 100%; 
    display: block; 
    
}

div.contenedor2 {
    background-color: white;

}
      
